@{
    ViewData["Title"] = "Home Page";
}
<style>
img {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}
</style>


<div class="text-center">
    <h1 class="display-4">Welcome to your Dive Log!</h1>

    <img src="~/dive1.jpeg" alt="Diver above the water throwing up a shaka, with Hawaiian moutains in the background" />
   
   

 
    
   
    <p>We hope you enjoy this site! We are currently under construction, but please navigate the features that we currently have available. Happy Diving!</a>.</p>
</div>
