@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Dive Log!</h1>
    <p>We hope you enjoy this site! We are currently under construction, but please navigate the features that we currently have available. Happy Diving!</a>.</p>
</div>
